
<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"43d4546571af27d3f56fe24ee2d38eab",petok:"5f3d005fdd42d4a0718265b5f6989a01d76e4365-1498433760-1800",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link rel="icon" href="http://gw-pconstruction.com/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/touchtouch.css">

    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

    <!--Fonts-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="https://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="http://gw-pconstruction.com/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="http://gw-pconstruction.com/js/html5shiv.js"></script>
    <![endif]-->

    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div id="stuck_container" class="stuck_container">
            <div class="container border-bottom">
                <div class="brand">
                    <span class="brand__name">
                        <a href="index.html">project</a>
                    </span>
                    <span class="brand__slogan">
                        Construction
                        <br/>
                        Company
                    </span>
                </div>

                <nav class="nav">
                  <ul class="sf-menu" data-type="navbar">
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li class="active">
                      <a href="about.html">about</a>
                    </li>
                    <li>
                      <a href="services.html">Services</a>
                    </li>
                    <li>
                      <a href="gallery.html">gallery</a>
                    </li>
                    <li>
                      <a href="contact.html">contacts</a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well-lg">
            <div class="container">
                <div class="row text-lg-center">
                    <div class="col-lg-1">
                        <h5 class="vertical vertical-variant-4">
                            in a nutshell about us
                        </h5>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <h1>
                            To be the highest value
                            provider of global
                            construction services
                            and technical expertise
                        </h1>
                        <p>
                            Project strives to deliver excellence and value to its clients, while maintaining a leadership position in the industry. Project continues to play a relevant role in the building of corporate headquarters, commercial properties, healthcare centers, universities, infrastructure, transportation facilities, museums, retail spaces, hospitality, and residential buildings. We at the forefront of building the most exciting, highly desirable and notable luxury residential condos, hotels, restaurants, and retail spaces in the country.
                        </p>
                        
                    </div>
                    <div class="col-lg-offset-1 col-xl-3 col-lg-4">
                        <div class="border inset-2 offset-2 animation-closeIn">
                            <div class="wrap">
                                <div class="big">
                                    78
                                </div>
                                <h5 class="prefix-1">
                                    successful
                                    <br/>
                                    projects
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row well-xl">
                    <div class="col-md-5 col-md-offset-1 wow fadeInUp" data-wow-delay="0.2s">
                        <a class="thumb" href="http://gw-pconstruction.com/images/page-2_img01_original.jpg" data-gallery="1">
                            <img src="images/page-2_img01.jpg" alt=""/>
                            <span class="thumb_overlay"></span>
                        </a>
                    </div>
                    <div class="col-md-6 col-md-offset-5 offset-9 wow fadeInUp">
                        <a class="thumb" href="http://gw-pconstruction.com/images/page-2_img02_original.jpg" data-gallery="1">
                            <img src="images/page-2_img02.jpg" alt=""/>
                            <span class="thumb_overlay"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="well-xl">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 wow fadeInLeft"  data-wow-delay="0.6s">
                        <h5 class="vertical vertical-variant-3">
                            our work team
                        </h5>
                    </div>
                    <ul class="list text-md-center">
                        <li class="col-xl-2 col-md-5 wow fadeInLeft">
                            <h3 class="line">
                                Gerald
                                <br/>
                                Winslet
                            </h3>
                            <p class="ubold">
                                Chief Executive Officer,
                            </p>

                            <p>
                                Gerald is responsible for all enterprise risk management matters. He serves as President of our company.
                            </p>
                        </li>
                        <li class="col-xl-2 col-md-5 col-xl-offset-1 wow fadeInLeft" data-wow-delay="0.1s">
                            <h3 class="line">
                                Jerry
                                <br/>
                                Mason
                            </h3>

                            <p class="ubold">
                                Chief marketing officer
                            </p>
                            <p>
                                Jerry coordinates strategic
                                growth initiatives, marketing, business development and communication activities.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="row well-md flow-offset-2">
                    <div class="col-xl-3 col-lg-4 wow fadeInLeft">
                        <div class="border  inset-2 text-lg-center animation-closeIn">
                            <div class="wrap">
                                <div class="big">
                                    34
                                </div>
                                <h5 class="prefix-1">
                                    comprehensive
                                    <br/>
                                    local offices
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-lg-offset-1 wow fadeInRight">
                        <img src="images/page-2_img03.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </section>
        <section class="well-lg">
            <div class="container text-md-center">
                <div class="row flow-offset-3 wow fadeIn">
                    <div class="col-md-1">
                        <h5 class="vertical vertical-variant-3">
                            OUR CORE VALUES
                        </h5>
                    </div>
                    <div class="col-xl-3 col-md-4">
                        <img class="offset-8" src="images/page-2_img04.jpg" alt=""/>
                    </div>
                    <div class="col-xl-4 col-md-5 line line-position-3">
                        <h3>
                            Integrity
                        </h3>
                        <p>
                            A tradition of ethical and honest business conduct
                            is the cornerstone of our business philosophy, and
                            the foundation of our entire organization.
                        </p>
                    </div>
                </div>
                <div class="row flow-offset-3 offset-10 wow fadeIn">
                    <div class="col-xl-3 col-xl-offset-5 col-md-offset-3 col-md-4">
                        <img class="offset-8" src="images/page-2_img05.jpg" alt=""/>
                    </div>
                    <div class="col-xl-4 col-md-5 line line-position-3">
                        <h3>
                            Quality
                        </h3>
                        <p>
                            We provide outstanding service through teamwork, experience, accountability and innovation – all of which is reflected in the quality of our results.
                        </p>
                    </div>
                </div>
                <div class="row flow-offset-3 well-lg wow fadeIn">
                    <div class="col-xl-3 col-md-4 col-md-offset-1">
                        <img class="offset-8" src="images/page-2_img06.jpg" alt=""/>
                    </div>
                    <div class="col-xl-4 col-md-5 line line-position-3">
                        <h3>
                            Innovation
                        </h3>
                        <p>
                            We continually seek new and enterprising ways, whether technology- or process-based, to meet our customers’ needs and exceed their expectations.
                        </p>
                    </div>
                </div>
                <div class="row flow-offset-3 wow fadeIn">
                    <div class="col-xl-3 col-xl-offset-6 col-md-offset-3 col-md-4 offset-11">
                        <img class="offset-8" src="images/page-2_img07.jpg" alt=""/>
                    </div>
                    <div class="col-xl-3 col-md-5 line line-position-3 offset-11">
                        <h3>
                            Continuous
                            Improvement
                        </h3>
                        <p>
                            We cultivate an environment that
                            supports and encourages ongoing learning, development and personal growth.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="container text-sm-center text-right">
            <div class="brand">
                <a href="services.html">
                    <div class="brand__name">
                        Services
                    </div>
                </a>
            </div>
            © <span id="copyright-year"></span> .
            <a href="privacy.html">Privacy Policy</a>
        </div>
    </footer>
  </div>

  <script src="js/script.js"></script>

  </html>
