<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Contacts</title>
	<meta name="format-detection" content="telephone=no"/><script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"43d4546571af27d3f56fe24ee2d38eab",petok:"41625a9507a8ee11d9a41654f78e7fb9f8fdb8f9-1498433931-1800",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
	<link href="http://gw-pconstruction.com/images/favicon.ico" rel="icon" type="image/x-icon" />
	<link href="css/grid.css" rel="stylesheet" />
	<link href="css/style.css" rel="stylesheet" />
	<link href="css/touchtouch.css" rel="stylesheet" />
	<link href="http://gw-pconstruction.com/css/google-map.css" rel="stylesheet" /><script src="js/jquery.js"></script><script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script><script src="js/jquery-migrate-1.2.1.js"></script><!--Fonts-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet" type="text/css" /><!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="https://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="http://gw-pconstruction.com/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="http://gw-pconstruction.com/js/html5shiv.js"></script>
    <![endif]--><script src='js/device.min.js'></script>
</head>
<body>
<div class="page"><!--========================================================
                              HEADER
    =========================================================-->
<header>
<div class="stuck_container" id="stuck_container">
<div class="container">
<div class="brand"><span class="brand__name"><a href="index.html">project</a> </span> <span class="brand__slogan"> Construction<br />
Company </span></div>

<nav class="nav">
<ul class="sf-menu" data-type="navbar">
	<li><a href="index.html">Home</a></li>
	<li><a href="about.html">about</a></li>
	<li><a href="services.html">Services</a></li>
	<li><a href="gallery.html">gallery</a></li>
	<li class="active"><a href="contact.html">contacts</a></li>
</ul>
</nav>
</div>
</div>
</header>
<!--========================================================
                              CONTENT
    =========================================================-->

<main><!-- Map -->
<section class="map">
<div class="container">
<div class="map_model" data-zoom="11" id="google-map"></div>

<ul class="map_locations">
</ul>

<address>21001 Syconlin Rd, Ashburn, Virginia. 20147
<dl class="contact-info heading-3 offset-4">
	<dt>Tel:</dt>
	<dd><a href="callto:#">(571) 279-8516 </a></dd>
</dl>
</address>
</div>
</section>
<!-- END Map -->

<section class="well-lg">
<div class="container">
<div class="row">
<div class="col-md-1">
<h5 class="vertical vertical-variant-3">Contacts</h5>
</div>

<div class="col-md-11 text-md-center">
<h1>We are always ready<br />
to help you.</h1>

<p class="offset-7">There are many ways to contact us. You may give us a call or send an email,<br class="display-md-center" />
choose what suits you the most.</p>

<p></p>
<!-- RD Mailform -->

<p>Call Us: @(571) 279-8516</p>

OR

<p>EMAIL US: @ care@gw-pconstruction.com<br> OR<br><span class="brand__name" style ="font-size: 20px"> @ gwinslet1955@gmail.com</span></p>

<p> </p>
<p></p>
<!-- END RD Mailform --></div>
</div>
</div>
</section>
</main>
<!--========================================================
                              FOOTER
    =========================================================-->

<footer>
<div class="container text-sm-center text-right">
<div class="brand">
<div class="brand__name"><a href="services.html">Services </a></div>
</div>
&copy; . <a href="privacy.html">Privacy Policy</a></div>
</footer>
</div>
<script src="js/script.js"></script></body>
</html>