
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gallery</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"43d4546571af27d3f56fe24ee2d38eab",petok:"1409637535df6987c62309d71351112210ee8660-1498433887-1800",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link rel="icon" href="http://gw-pconstruction.com/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/touchtouch.css"/>

    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

    <!--Fonts-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="https://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="http://gw-pconstruction.com/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="http://gw-pconstruction.com/js/html5shiv.js"></script>
    <![endif]-->

    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div id="stuck_container" class="stuck_container">
            <div class="container border-bottom">
                <div class="brand">
                    <span class="brand__name">
                        <a href="index.html">project</a>
                    </span>
                    <span class="brand__slogan">
                        Construction
                        <br/>
                        Company
                    </span>
                </div>

                <nav class="nav">
                  <ul class="sf-menu" data-type="navbar">
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>
                      <a href="about.html">about</a>
                    </li>
                    <li>
                      <a href="services.html">Services</a>
                    </li>
                    <li class="active">
                      <a href="gallery.html">gallery</a>
                    </li>
                    <li>
                      <a href="contact.html">contacts</a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>

        <!-- Section -->
        <section class="well-xl">
            <div class="container">
                <div class="row row-no-gutter">
                    <div class="col-lg-4 col-md-6">
                        <div class="img">
                            <img src="images/page-4_img01.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        Town Center
                                    </h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="img">
                            <img src="images/page-4_img02.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        Maspeth High School
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="img">
                            <img src="images/page-4_img03.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        Private Residence
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-lg-clear col-md-release">
                        <div class="img">
                            <img src="images/page-4_img04.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        Blood Center
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="img">
                            <img src="images/page-4_img05.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        SunGuard
                                        plaza
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="img">
                            <img src="images/page-4_img06.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        Canyon
                                        Ranch Living
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-release col-md-clear">
                        <div class="img">
                            <img src="images/page-4_img07.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        Public Library
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="img">
                            <img src="images/page-4_img08.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        Calpine Office Renovation
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="img">
                            <img src="images/page-4_img09.jpg" alt=""/>

                            <div class="img__caption">
                                <div class="img__caption-wrap">
                                    <h3>
                                        Pulte Headquarters
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Section -->


    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="container text-sm-center text-right">
            <div class="brand">
                <a href="index.html">
                    <div class="brand__name">
                        Services
                    </div>
                </a>
            </div>
            © <span id="copyright-year"></span> .
            <a href="privacy.html">Privacy Policy</a>
        </div>
    </footer>
  </div>

  <script src="js/script.js"></script>

  </html>
