
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no"/>
  <script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"9047d9e06b6a22ea65c83dc6cb952ff9",petok:"bc5127a0261a67395c9875031eefb509108207ae-1498432456-1800",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link rel="icon" href="http://gw-pconstruction.com/images/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="css/grid.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="js/jquery-3.2.1.js"></script>
  <script src="js/jquery-migrate-1.2.1.js"></script>

  <!--Fonts-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
  <html class="lt-ie9">
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="https://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="http://gw-pconstruction.com/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="http://gw-pconstruction.com/js/html5shiv.js"></script>
  <![endif]-->

  <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
  <!--========================================================
                            HEADER
  =========================================================-->
  <header class="rd-parallax">
    <div id="stuck_container" class="stuck_container">
      <div class="container">
        <div class="brand">
          <span class="brand__name">
            <a href="index.html">G Winslet</a>
          </span>
          <span class="brand__slogan">
            Private Construction
            <br/>
            Company
          </span>
        </div>

        <nav class="nav">
          <ul class="sf-menu" data-type="navbar">
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="about.html">about</a>
            </li>
            <li>
              <a href="services.html">Services</a>
            </li>
            <li>
              <a href="gallery.html">gallery</a>
            </li>
            <li>
              <a href="contact.html">contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <section class="well-xl bg-image-1 line">
      <div class="container">
        <div class="row">
          <div class="col-xl-offset-1 col-lg-4 col-md-5 rd-parallax-layer" data-speed="2.45" data-type="html"
               data-fade="true">
            <div class="border inset-1 animation-closeIn">
              <div class="wrap">
                <div class="big">
                  10
                </div>
                <h5 class="prefix-1">
                  years of experience
                  <br/>
                  in the industry
                </h5>
              </div>
            </div>
          </div>
          <div
                  class="col-xl-offset-3 col-xl-3 col-lg-4 col-lg-offset-4 col-md-offset-2 col-md-5 rd-parallax-layer" data-direction="inverse" data-speed="1"
                  data-type="html" data-fade="true">
            <address class="offset-1 text-right">
              21001 Sycolin Rd, Ashburn, Virginia. 20147
              <dl class="contact-info heading-3 offset-4">
                <dt>
                  Tel:
                </dt>
                <dd>
                  <a href="callto:#">
                    (703) 634-6378
                  </a>
                </dd>
              </dl>
            </address>
          </div>
        </div>
      </div>
    </section>
  </header>
  <!--========================================================
                            CONTENT
  =========================================================-->
  <main>
    <section class="well-lg">
      <div class="container">
        <div class="row text-sm-center">
          <div class="col-sm-1">
            <h5 class="vertical ">
              about
            </h5>
          </div>
          <div class="col-md-6 col-sm-11">
            <h1>
              We are the leaders
              <br/>
              in the construction industry
            </h1>
            <p>
              At Project we strive to excel in every service we provide, adding value for our customers wherever
              possible, and thereby attaining national leadership in the construction industry.
            </p>
          </div>
          <div class="wow fadeInRight col-xl-offset-1 col-xl-3 col-md-offset-1 col-md-4 col-sm-12 text-md-center">
            <div class="border inset-2 offset-3 animation-closeIn">
              <div class="wrap">
                <div class="big">
                  7
                </div>
                <h5 class="prefix-1">
                  architect-built
                  <br/>
                  housing estates
                </h5>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-offset-3 col-md-6 wow fadeInUp">
            <div class="img-wrap position-2">
              <img src="images/page-1_img03.jpg" alt=""/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 offset-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="img-wrap position-1 line line-position-1">
              <img src="images/page-1_img02.jpg" alt=""/>
            </div>
          </div>
          <div class="col-md-offset-2 col-md-5 offset-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="img-wrap position-3">
              <img src="images/page-1_img04.jpg" alt=""/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="well-lg">
      <div class="container wow fadeIn">
        <div class="row flow-offset-1">
          <div class="col-lg-offset-1 col-md-1 col-xl-push-3 col-lg-push-4">
            <h5 class="vertical vertical-variant-2">
              who we are
            </h5>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-lg-pull-2">
            <div class="border inset-2 offset-2 text-md-center animation-closeIn">
              <div class="wrap">
                <div class="big">
                  26
                </div>
                <h5 class="prefix-1">
                  highly qualified
                  <br/>
                  specialists
                </h5>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-5 col-md-offset-1 col-lg-offset-0">
            <h1>
              Project is one of
              the nation's foremost
              construction
              management firms.
            </h1>
            <p>
              Since our incorporation, we've grown from a regional organization to a multi-faceted, national presence in the industry.
              <br/>
              <br/>
              Our roots are based in construction, real estate, investment and development management. Our portfolio includes work across industries. Project's uniqueness comes from understanding what it is to be the owner, the developer and the builder – a trifecta that is evident in Project's core portfolio of prestigious commercial, corporate and residential properties.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="well-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-1 wow fadeInLeft"  data-wow-delay="0.5s">
            <h5 class="vertical vertical-variant-3">
              services
            </h5>
          </div>
          <ul class="list text-md-center">
            <li class="col-xl-2 col-md-5 wow fadeInLeft" data-wow-delay="0.1s">
              <h3 class="line">Construction
                <br/>
                Management</h3>

              <p>We act as advocates for our clients, performing due diligence in the pre-construction phase,
                minimizing risks for our clients and starting projects off on their best footing.</p>
            </li>
            <li class="col-xl-2 col-md-5 col-xl-offset-1 wow fadeInLeft" data-wow-delay="0.2s">
              <h3 class="line">General
                <br/>
                Contracting</h3>

              <p>When overseeing the bidding process and executing the project it is our role to drive value, both
                in terms of our initial bid and by controlling the project to minimize change orders.</p>
            </li>
            <li class="col-xl-2 col-md-5 col-lg-clear col-xl-release  col-md-release col-md-offset-1 wow fadeInLeft"
                data-wow-delay="0.3s">
              <h3 class="line">Program
                <br/>
                Management</h3>

              <p>From project accounting to overseeing the team, from maintaining schedules to bidding to outside
                vendors, we offer our industry knowledge and relationships to the client, thereby controlling
                costs.</p>
            </li>
            <li class="col-xl-2 col-md-5 col-xl-offset-1 wow fadeInLeft" data-wow-delay="0.4s">
              <h3 class="line">Design and
                <br/>
                Build</h3>

              <p>Design and build is all about working with efficiencies created within the design phase, thereby minimizing on-site labor and executing seamlessly while controlling costs.
              </p>
            </li>
          </ul>
        </div>
        <div class="row well-lg flow-offset-2">
          <div class="col-lg-7 wow fadeInLeft">
            <img src="images/page-1_img05.jpg" alt=""/>
          </div>
          <div class="col-xl-4 col-lg-5 wow fadeInRight">
            <div class="border border-skin-1 inset-2 text-lg-center animation-closeIn">
              <div class="wrap">
                <div class="big">
                  12
                </div>
                <h5 class="prefix-1">
                  built and enhanced designs
                  <br/>
                  of housings, mansions
                  <br/>
                  and facilities
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="well-lg">
      <div class="container">
        <div class="row">
          <div class="col-md-1 col-md-offset-1 col-lg-offset-3 wow fadeInLeft">
            <h5 class="vertical vertical-variant-3">Technologies</h5>
          </div>
          <div class="col-xl-5 col-lg-6 col-md-9 wow fadeInRight">
            <h1>
              Building Information
              Modeling (BIM)
            </h1>
            <p>
              Building Information Modeling (BIM) is the process of generating and managing building data throughout the project’s life cycle. It bridges the virtual world with the real world to collect all vital information, enlightening the project team and the project itself. Project is a vocal advocate for the industry adoption of BIM as a revamping of the construction process in addition to being a valuable tool for project efficiencies and cost controls.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="well-xl">
      <div class="container">
        <div class="row flow-offset-1 text-md-center">
          <div class="col-md-1 wow fadeInLeft" data-wow-delay="0.4s">
            <h5 class="vertical vertical-variant-3">latest projects</h5>
          </div>
          <div class="col-xl-4 col-md-5 wow fadeInLeft">
            <img class="offset-8" src="images/page-1_img06.jpg" alt=""/>
          </div>
          <div class="col-xl-4 col-md-5 line line-position-2 wow fadeInRight">
            <h3>Station Place</h3>
            <p>
              Washington DC's largest private office development, Station Place consists of three 10-story buildings separated by landscaped plazas on 5.5 acres adjacent to historic Union Station.
            </p>

          </div>
        </div>
        <div class="row well-lg flow-offset-1 text-md-center wow fadeIn">
          <div class="col-xl-offset-3 col-xl-4 col-lg-offset-2 col-lg-4 col-md-6">
            <img class="offset-8" src="images/page-1_img07.jpg" alt=""/>
          </div>
          <div class="col-xl-4 col-md-5 line line-position-2">
            <h3>
              Town Center One
              at Dadeland
            </h3>
            <p>
              Part of a 5.5-acre development including commercial, retail and residential space, Town Center One is a state-of-the-art 24-story office tower.
            </p>

          </div>
        </div>
      </div>
    </section>
    <section class="well-lg">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-md-1">
            <h5 class="vertical vertical-variant-3">
              Contacts
            </h5>
          </div>
          <div class="col-md-11 text-md-center">
            <h1>
              We are always ready
              <br/>
              to help you.
            </h1>
            <p class="offset-7">
              There are many ways to contact us. You may give us a call or send an email,
              <br class="display-md-center"/>
              choose what suits you the most.
            </p>
            <p></p>
            <!-- RD Mailform -->
            <h3>Call Us: @(703) 634-6378</h3>
            <h3>OR</h3>
            <h3>EMAIL US: @  care@gw-pconstruction.com</h3>
            <!-- END RD Mailform -->
          </div>
        </div>
      </div>
    </section>
  </main>

  <!--========================================================
                            FOOTER
  =========================================================-->
  <footer>
      <div class="container text-sm-center text-right">
          <div class="brand">
              <a href="services.html">
                  <div class="brand__name">
                      Services
                  </div>
              </a>
          </div>
          © <span id="copyright-year"></span> .
          <a href="privacy.html">Privacy Policy</a>
      </div>
  </footer>
</div>

<script src="js/script.js"></script>

</html>
