
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Services</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"43d4546571af27d3f56fe24ee2d38eab",petok:"2f47dd2d9fd86e3302b4c59d277188bb38b817ee-1498433844-1800",zone:"template-help.com",rocket:"0",apps:{"abetterbrowser":{"ie":"7"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link rel="icon" href="http://gw-pconstruction.com/images/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>

    <!--Fonts-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <html class="lt-ie9">
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="https://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="http://gw-pconstruction.com/images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="http://gw-pconstruction.com/js/html5shiv.js"></script>
    <![endif]-->

    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div id="stuck_container" class="stuck_container">
            <div class="container border-bottom">
                <div class="brand">
                    <span class="brand__name">
                        <a href="index.html">project</a>
                    </span>
                    <span class="brand__slogan">
                        Construction
                        <br/>
                        Company
                    </span>
                </div>

                <nav class="nav">
                  <ul class="sf-menu" data-type="navbar">
                    <li>
                      <a href="index.html">Home</a>
                    </li>
                    <li>
                      <a href="about.html">about</a>
                    </li>
                    <li class="active">
                      <a href="services.html">Services</a>
                    </li>
                    <li>
                      <a href="gallery.html">gallery</a>
                    </li>
                    <li>
                      <a href="contact.html">contacts</a>
                    </li>
                  </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well-xl">
            <div class="container">
                <div class="row wow fadeIn">
                    <div class="col-md-1">
                        <h5 class="vertical vertical-variant-3">
                            our main services
                        </h5>
                    </div>
                    <ul class="list text-md-center">
                        <li class="col-xl-2 col-md-5">
                            <h3 class="line">
                                Construction
                                <br/>
                                Management
                            </h3>
                            <p>
                                We act as advocates for our clients, performing due diligence in the pre-construction phase, minimizing risks for our clients and starting projects off on their best footing.
                            </p>
                        </li>
                        <li class="col-xl-2 col-md-5 col-xl-offset-1">
                            <h3 class="line">
                                General
                                <br/>
                                Contracting
                            </h3>
                            <p>
                                When overseeing the bidding process and executing the project it is our role to drive value, both in terms of our initial bid and by controlling the project to minimize change orders.
                            </p>
                        </li>
                        <li class="col-xl-2 col-md-5 col-lg-clear col-xl-release  col-md-release col-md-offset-1">
                            <h3 class="line">
                                Program
                                <br/>
                                Management
                            </h3>
                            <p>
                                From project accounting to overseeing the team, from maintaining schedules to bidding to outside vendors, we offer our industry knowledge and relationships to the client, thereby controlling costs.
                            </p>
                        </li>
                        <li class="col-xl-2 col-md-5 col-xl-offset-1">
                            <h3 class="line">
                                Design and
                                <br/>
                                Build
                            </h3>
                            <p>
                                Design and build is all about working with efficiencies created within the design phase, thereby minimizing on-site labor and executing seamlessly while controlling costs.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="well-md">
            <div class="container">
                <div class="row text-md-center">
                    <div class="col-md-5 col-md-offset-1 wow fadeInUp">
                        <div class="img-wrap position-2">
                                <img src="images/page-3_img02.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-5 offset-12 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="img-wrap line line-position-4 prefix-3 position-2">
                                <img src="images/page-3_img04.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-6 offset-13 wow fadeInUp" data-wow-delay="0.15s">
                        <div class="img-wrap prefix-3 position-1">
                                <img src="images/page-3_img03.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="well-xl">
            <div class="container">
                <div class="row wow fadeIn">
                    <div class="col-md-1">
                        <h5 class="vertical vertical-variant-3">
                            services overview
                        </h5>
                    </div>
                    <ul class="list text-md-center">
                        <li class="col-xl-2 col-md-5">
                            <h3 class="line">
                                general
                                <br/>
                                construction
                            </h3>
                            <p>
                                When overseeing the bidding process and executing the project it is our role to drive value, both in terms of our initial bid and by controlling the project to minimize change orders.
                                We build our relationships based on
                            </p>
                        </li>
                        <li class="col-xl-2 col-md-5 col-xl-offset-1">
                            <h3 class="line">
                                pre-construction
                                <br/>
                                planning
                            </h3>
                            <p>
                                We seek to get involved early in the design phase so that we can manage the project more efficiently, provide effective building solutions, and identify challenges early on to mitigate design changes after construction commencement.
                            </p>
                        </li>
                        <li class="col-xl-2 col-md-5 col-lg-clear col-xl-release col-md-release col-md-offset-1">
                            <h3 class="line">
                                Managing
                                <br/>
                                projects
                            </h3>
                            <p>
                                Our various areas of expertise are available on a consulting basis as an additional support to our clients. They include budget verification, independent auditing of budgets, independent cost estimating and more.
                            </p>
                        </li>
                        <li class="col-xl-2 col-md-5 col-xl-offset-1">
                            <h3 class="line">
                                Post-
                                <br/>
                                Construction
                            </h3>
                            <p>
                                A project isn’t complete just because the construction phase is done. We offers additional services to help ensure a successful handoff of your building and ongoing success for the project.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <!--========================================================
                              FOOTER
    =========================================================-->
    <footer>
        <div class="container text-sm-center text-right">
            <div class="brand">
                <a href="services.html">
                    <div class="brand__name">
                        Services
                    </div>
                </a>
            </div>
            © <span id="copyright-year"></span> .
            <a href="privacy.html">Privacy Policy</a>
        </div>
    </footer>
  </div>

  <script src="js/script.js"></script>

  </html>
